@mixin form-sm() {
  form {
    padding: 20px 15px;
    .input-group-addon {
      border-radius: 0;
      font-size: 11px;
      padding: 6px;
    }
    textarea.form-control {
      resize: none;
      padding: 4px 6px;
      border-radius: 0;
    }
    .form-control:not(textarea), .btn {
      border-radius: 0;
      height: 26px;
      padding: 4px;
    }
    .has-error {
      .multiselect__tags {
        border-color: #a94442 !important;
      }
    }
    .multiselect {
      position: relative; 
      width: 100%;
      min-height: 26px;
      &.disabled {
        cursor: not-allowed;
        background-color: #eeeeee;
        .multiselect-input {
          display: none;
        }
      }
      &:focus {
        outline: none;
      }
      &.multiselect-active > .multiselect-select {
          transform: rotateZ(180deg);
      }
      .multiselect-loader {
          position: absolute;
          right: 0;
          padding: 2.5px 4px;
          color: #005EB8;
          animation-duration: .5s !important;
      }
      .multiselect-select {
        line-height: 16px;
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 17px;
        height: 13px;
        right: 1px;
        top: 6px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
      .multiselect-select:before {
        position: relative;
        right: 0;
        top: 65%;
        color: #999;
        margin-top: 4px;
        border-style: solid;
        border-width: 4.2px 4.2px 0 4.2px;
        border-color: #999999 transparent transparent transparent;
        content: "";
      }
      .multiselect-tags {
        border: 1px solid #ccc;
        min-height: 26px;
        padding: 5px 17px 3px 2px;
        overflow-y: auto;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        > .multiselect-tag {
          position: relative;
          display: inline-block;
          padding: 4px 26px 4px 10px;
          border-radius: 3px;
          margin-right: 3px;
          color: #fff;
          line-height: 1;
          background: #005EB8;
          margin-bottom: 8px;
          white-space: nowrap;
          .multiselect-tag-icon {
            cursor: pointer;
            margin-left: 7px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-weight: 700;
            font-style: normal;
            width: 22px;
            text-align: center;
            line-height: 22px;
            transition: all .2s ease;
            border-radius: 5px;
            &:after {
              content: "\D7";
              color: #fff;
              font-size: 14px;
            }
          }
        }
        input {
          border: 0;
          &:focus {
            outline: none;
          }
        }
        .multiselect-single {
          width: 100%;
          display: block;
          padding-left: 4px;
        }
      }
      .multiselect-elem-holder {
        margin: 0; 
        padding: 0; 
        width: 100%;
        position: absolute;
        list-style-type: none; 
        border: 1px solid #ccc;
        border-width: 0 1px 1px 1px;
        overflow-y: auto;
        z-index: 50;
        .multiselect-list {
          padding: 5px 2px;
          background: #fff;
          &.selected {
            font-weight: bolder;
            background: #ccc;
            &:hover, &.highlighted {
              color: #fff;
              background: red !important;
            }
          }
          &.highlighted {
            color: #fff;
            background: #005EB8;
          }
        }
      }
    }
  }
}
@mixin form-horizontal($inputSize) {
  .form-group {
    margin-bottom: 10px;
    @include clearfix();
    &.horizontal {
      label {
        display: inline;
        width: 100% - $inputSize;
        line-height: 2;
      }
      label.form-static {
        @extends label;
        float: right;
        width: $inputSize;
        span {
          padding: 0 10px;
        }
      }
      .error {
        float: right;
        width: $inputSize;
      }
      .input-group {
        float: right;
        width: $inputSize;
        > .form-control {
          width: 100%;
        }
      }
      .form-control, .form-radio, .multiselect, .form-check {
        display: inline-block;
        float: right;
        width: $inputSize;
      }
    }
  }
}
@mixin padded-header() {
  .digital-clock, .user-details, .navigation-buttons {
    >span, >strong, >a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
@mixin nonsense-gradient($height, $width, $pos) {
  content: linear-gradient($pos, rgba(1,33,105,1) 0%,rgba(1,33,105,1) 50%,rgba(0,94,184,1) 50%,rgba(0,94,184,1) 50%,rgba(0,94,184,1) 99%);
  position: absolute;
  height: $height;
  width: $width;  
}
@mixin sidebar-color() {
  background-color: #005EB8;
  color: #fff;
}
@mixin menu-items($left, $top: 0) {
  margin-top: $top;
  list-style-type: none;
  >a {
      padding-left: 5px + $left;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 1px solid black;
      &.active:after {
        position: absolute;
        width: 10px;
        height: 10px;
        content: "\00BB";
        right: 10px;
      }
    }
}
@mixin pagination() {
   margin-top: 0;
  > li {
    &:not(.active):not(.disabled) > span {
      cursor: pointer;
    }
  } 
}
@mixin table-section() {
  .table-section {
      height: 100%;
      border-left: 1px solid darken($gray-lighter, 30%);
      background-color: #ddd;
      .dataset { 
        .utils { padding-top: 5px; padding-bottom: 5px; }
        .table { margin: 0; }
        .footer label { padding: 5px; }
      }
      @include make-sm-column(8, 0);
      @include records-table();
    }
}
@mixin records-table() {
  .table-utils {
    @include table-utils()
  }
  table {
    border-top: 1px solid darken($gray-lighter, 30%);
    margin-bottom: 0;
    tr {
      &:hover {
        td {
          background-color: #f5f5f5;
        }
      }
      td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: #fff;
        padding: 7.5px 8px;
      }
      &.active > td, td:first-child, th {
        background-color: #ddd;
      }
      td, th {
        border: 1px solid darken($gray-lighter, 30%);
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
  .pagination {
    margin-top: 0;
    > li {
      &.active > span, &:hover > a, &:not(.disabled):hover > span {
        background-color: #fff;
      }
      &:first-child > span {
        border-left: 0;
      }
      > span,  > a {
        background-color: #ddd;
        border-color: darken($gray-lighter, 30%);
        border-top: 0;
        color: #333;
      }
    } 
  }
}
@mixin image-uploader($height) {
    position: relative;
    height: $height;
    width: 100%;
    overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  .uploader {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px;
    bottom: 0;
    background: #000;
    color: #fff;
    opacity: 0.7;
    font-weight: bolder;
  }
}
@mixin table-utils() {
  display: table;
  padding: 5px 10px 5px 0;
  width: 100%;
  > div {
    display: inline-block;
    label {
      vertical-align: middle;
      display: inline;
      padding: 0 5px;
    }
    .btn-group {
      padding: 1.5px 0;
    }
    .form-control {
      display: inline;
      vertical-align: middle;
      width: auto;
    }
  }
}
@mixin transition($timingFunc, $property, $duration) {
  -webkit-transition: $property $duration $timingFunc;
  -moz-transition: $property $duration $timingFunc;
  -ms-transition: $property $duration $timingFunc;
  -o-transition: $property $duration $timingFunc;
  transition: $property $duration $timingFunc;
}
@mixin asset-info() {
	height: inherit;
	border: 1px solid #ccc;
	background-color: #eee;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px 15px;
	h4 {
		font-weight: bold;
		padding: 10px 0;
		margin: 0 5px 10px;
		border-bottom: 1px solid #ccc;
		color: #727272;
	}
	.dl-horizontal {
		margin-bottom: 10px;
		margin-left: 10px;
		float: left;
		display: block;
		width: 100%;
		dt {
		width: 130px;
		color: #4d4d4d;
		text-align: left;
		}
		dd {
		margin-left: 150px;
		}
	}
}
