html, body {
	overflow: hidden;
}
header {
	background: #fff;
	.banner {
		padding: 5px 10px;
		@include clearfix();
		h1 {
			color: $brand-color;
		    font-weight: bolder;
		    display: inline-block;
		    float: left;
		    text-shadow: #686586 2px 1px 3px;
		    margin-top: 10px;
		}
		img {
			width: 13%;
			float: right;
		}
	}
	.horizontal-bar {
		height: 25px;
		@include clearfix();
		@include padded-header();
		background-color: #012169;
		color: #fff;
		.digital-clock {
			@include make-sm-column(2);
			> span {
				@include make-sm-column(12);
				padding-left: 0;
				padding-right: 0;
			}
			&:after {
				@include nonsense-gradient(25px, 30px, top left);
			}
		}
		.user-details {
			@include make-sm-column(6);
			> span {
				@include make-sm-column(4);
				&:last-child {
					text-align: right;
				}
			}
			&:before {
				@include nonsense-gradient(20px, 20px, bottom right);
			}
		}
		#dropdown {
		    list-style-type: none;
		    float: right;
		    margin: 0;
		    padding: 0;
		    position: absolute;
		    right: 1px;
		    top: 25px;
		    border: 1px solid #e4dede;
		    z-index: 1;
		    box-shadow: 1px 1px 1px 1px #ddd;
		    background: #fff;
		    li {
		    	padding: 6px;
		    	&:first-child {
		    		border-bottom: 1px solid #e4dede;
		    	}
		    }
		} 
		.navigation-buttons {
			@include make-sm-column(4);
			strong {
				@include make-sm-column(6);
				text-transform: uppercase;
			}
			> a {
				@include make-sm-column(4);
				text-align: center;
				color: #fff;
				text-decoration: none;
				&:hover {
					color: #fff;
					background-color: #005EB8;
					text-decoration: none;
				}
			}
		}
	}
}
.dataset {
	.chk {
		margin: 0;
	}
	.utils {
		@include table-utils();
		padding: 0 0 15px;
		input[type=search] {
			margin-right: 5px;
		}
	}
	.table {
		overflow: auto;
		table th { 
			text-transform: uppercase; 
			white-space: nowrap;
			> .search-field {
			    height: 24px;
			    padding: 0px 4px;
			    font-weight: normal;
			    margin-bottom: 10px;
			    &:focus {
			    	position: relative;
			    	z-index: 1;
			    }
			}
			> i {
			    position: relative;
			    float: right;
				padding: 4px;
				margin-right: 4px;
				margin-top: -32px;
				background: #fff;
			    position: relative;
			    color: #a5a5a5;
			}
		}
		table td { white-space: nowrap; }
		table tbody > tr.active > td { background: #ddd }
	}
	.footer {
		min-height: 36px;
		width: 100%;
		.pagination {
			@include pagination();
			margin-bottom: 5px;
		}
		label {
			text-align: right;
			vertical-align: middle;
			display: inline-block;
		}
	}
}
.sidebar {
	@include make-sm-column(2);
	height: 100%;
	padding: 0;
	h3 {
		margin: 0;
		padding: 5px;
		text-align: center;
		font-weight: bold;
		@include sidebar-color();
	}
	ul {
		margin: 0;
		padding: 0;
		&#menu {
			max-height: 80%;
			overflow-x: auto;
		}
		.menu-item {  
			@include menu-items(0, 5px);
		}
		.sub-menu-item { 
			@include menu-items(15px, 5px);
		}
		.menu-item, .sub-menu-item {
			> a {
				@include sidebar-color();
				&:hover {
					background-color: #0476e0;
				}
				&:after {
					position: absolute;
					width: 10px;
					height: 10px;
					content: "+";
					right: 10px;
				}
				&.active:after {
					content: "-";
				}
			}
		}
		.item {  
			@include menu-items(15px, 0); 
			> a {
				color: #003366;
				&:hover {
					background-color: #F0F2F4;
				}
			}
		}
	}
}
.main {
	@include make-sm-column(10, 0);
	@include form-sm();
	height: 100%;
	border: {
		style: solid;
		color: #000;
		left-width: 1px;
		top-width: 1px;
		bottom-width: 0px;
		right-width: 0px;
	}
}
.login {
	width: 35%;
	@include center-block();
	form {
		margin: 0 auto;
		padding: 15px;
		@include clearfix();
		@include form-sm();
		h2, label, a {
			color: #fff;
		}
		div {
			margin: 10px 0;
			&.controls {
				@include clearfix();
			}
		}
		.help-block {
			color: #ffbcbb;
		}
	}
}
.modal {
	display: none;
	opacity: 0;
	@include transition(opacity .3s);
	.modal-title {
		font-weight: bold;
	}
	&:before {
		background: #000;
	    content: "";
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    opacity: 0.6;
	}
}
select > span {
	padding: 8px;
}
.form-buttons {
	@include clearfix();
	background-color: #DDD;
	border-bottom: 1px solid darken($gray-lighter, 30%);
	button {
		background: transparent;
		&:hover {
			background-color: darken($gray-lighter, 20%);
			color: darken(#fff, 5%);
		}
	}
	label {
		padding-right: 3px;
		vertical-align: middle;
		display: inline;
		pointer-events: none;
	}
	input[type=search] {
		height: 20px;
		width: 0;
		display: inline;
		visibility: hidden;
		background: transparent;
		border: 1px solid transparent;
		border-bottom-color: #949494;
		vertical-align: middle;
		padding: 2px 12px 2px 3px;
		box-shadow: none;
		transition: width .5s;
		&:focus {
			box-shadow: inset 0px 25px 0px #fff;
			border-bottom-color: transparent;
		}
	}
	.blue {
		color: $brand-primary;
	}
	.red {
		color: $brand-danger;
	}
	.green {
		color: $brand-success;
	}
	.search {
		padding: 2.5px 10px;
		&:hover {
			cursor: pointer;
			color: #005eb8;
		}
		position: relative;
		&:after {
			content: "\f002";
			position: absolute;
			bottom: 1px;
			right: 10px;
			padding: 3.5px 2px;
    		font-size: 15px;
			font-family: 'FontAwesome';
			font-weight: normal;
			font-style: normal;
			color: #949494;
		}
	}
	.delete-warn {
		padding: 2px 5px;
		span {
			display: inline-block; 
			vertical-align: middle;
			padding: 3px 15px;
			i {
				color: #eea236;
			}
		}
		> button {
			border-style: ridge;
		}
	}
}
.mass-upload {
	.separator {
		width: 100%;
		font-weight: bold;
		padding: 5px 10px;
		background: #DDD;
		border: 1px solid #a2a2a2;
	}
	.help-block {
		color: #8c8c8c;
		a:hover {
			cursor: pointer;
		}
	}
	form {
		@include clearfix();
		> div {
			@include make-sm-column(4);
			> *, a > * {
				display: inline-block;
				vertical-align: middle;
				padding-right: 10px;
			}
			&:first-chiLd {
				a {
					color: #000;
					text-decoration: none;
					&:hover {
						color: #428bca;
					}
				}
			}	
		}
	}
}
.has-error {
	> span.error {
		color: #a94442;
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
		font-weight: bolder;
	}
}
.push-notif {
	position: fixed;
    right: 10px;
    box-shadow: 1px 1px 10px;
    border-style: outset;
    top: 50px;
    opacity: 1;
    font-weight: bold;
    z-index: 1;
	@include transition(linear, all, 2s);
}
.alert {
	&.alert-danger,  &.alert-success{
		margin-bottom: 0;
	}
	&.alert-warning {
	@include clearfix();
		button {
			margin: 10px 0px 0px 5px;
			border-width: 1px;
			border-style: solid;
		}
	}
	.alert-list {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			&:not(:first-child) {	
				padding-top: 5px;
			}
		}
	}
	.errors {
	    list-style-type: none;
    	padding: 0;
	}
}
.request {
	>.form-control.static {
		display: block;
		width: 100%;
	}
}
.tab {
	margin: 0 -15px;
	ul {
		padding: 0;
		margin: 0 0 -1px 0;
		li.items {
			padding: 5px 10px;
			display: inline-block;
			background: #fff;
			border-width: 1px 1px 1px 0;
			border-style: solid;
			border-color: #a2a2a2;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			&:hover, > a:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			&.active {
				font-weight: bolder;
				padding-top: 8px;
				border-bottom-color: transparent;
				border-width: 1px 3px 1px 0px;
			}
			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
	.tab-content {
		@include clearfix();
		border-top: 1px solid #a2a2a2;
		padding: 10px 0;
		width: 100%;
	}
}
.field-info {
	margin:0; 
	font-size: 10px; 
	margin-top: 2px;
	color: #fff; 
	background: #5bc0de;
}
.tab-content#general {
	> div {
		@include make-sm-column(5);	
	}
}
.tab-content#financial {
	> div {
		@include make-sm-column(6);	
	}
}
.tab-content#maintenance_agreement {
	> div {
		@include make-sm-column(6);	
	}
}
.tab-content#contract_archive {
	> div {
		@include make-sm-column(5);	
	}
}
.tab-content#history {
	ul {
		height: 250px;
		overflow: auto;
		> li {
		padding: 5px 0;
			> .form-control-static {
				padding: 5px 10px;
			}
		}
	}
}
.tab-content#accountable_assets {
	display: block;
}
.tab-content#loaned_assets {
	display: block;
}
.uploader {
	width: 100%;
	div {
		> *  {
			display: inline-block;
			vertical-align: middle;
			&.form-control {
				width: 85%;
				float: left;
				pointer-events: none;
			}
			&.btn {
				border: 1px outset #a9a1a1;
			}
		}
	}
}
.excel-table {
	height: 100%;
	border-left: 1px solid darken($gray-lighter, 30%);
	background-color: #ddd; 
	@include make-sm-column(8, 0);
	@include records-table();
	overflow: auto;
	.table {
		th {
			text-transform: uppercase;
			padding: 4px
		}
		td {
			white-space: nowrap;
			padding: 4px;
		}
	}
	p {
		font-size: 18px;
		padding-top: 10px;
		i, span {
			vertical-align: middle;
		}
	}
}
.categories, .subcategories, .vendors, .brands, .notifications, .sites, .departments, .business-entities, .bulk-upload, .lookup-values, .request-approvers {
	@include clearfix();
	form { @include make-sm-column(4); }
	@include table-section();
}
.employees {
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	form {
		@include form-horizontal(70%);
		.row {
			margin-bottom: 10px;
			> div:not(:last-child) {
				@include make-sm-column(5);
			}
			> div:last-child {
				@include make-sm-column(2);
				padding-left: 0;
				.img-frame {
					border: 1px solid #ccc;
					padding: 4px;
					&.active:hover {
						.img-wrapper > .uploader {
							display: block;
						}
						cursor: pointer;
					}
					.img-wrapper {
						@include image-uploader(175px);
						.spinner {
							position: absolute;
						    top: calc(50% - 36px/2);
						    left: calc(50% - 36px/2);
						    font-size: 36px;
							font-family: 'FontAwesome';
							font-weight: normal;
							font-style: normal;
						}
					}
				}
			}
		}
	}
}
.pre-asset {
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	form {
		@include form-horizontal(70%);
		.row {
			margin-bottom: 10px;
			> div:first-child {
				@include make-sm-column(5);
				small {
					margin-bottom: 0;
				}
			}
			> div:last-child {
				@include make-sm-column(7);
				.inline-fields { 
					.inner-field {
						display: inline-block;
						.multiselect {
							width: 100%;
							float: none;
						}
						.form-control {
							width: 100%; 
							float: none;
						}
					}
					button {
						vertical-align: initial;
					}
				}
			}
		}
	}
}
.new-asset {
	overflow-y: scroll;
	form {
		@include form-sm()
		@include form-horizontal(70%);
		.row {
			margin-bottom: 10px;
			> div {
				@include make-sm-column(6);
				&:first-child > .inner {					
					@include make-sm-column-offset(2);
					@include make-sm-column(10);
					padding-right: 0;
				}
				&:last-child > .inner {
					> div {
						&:first-child {
							@include make-sm-column(8);
							padding: 0;
						}
						&:last-child {
							@include make-sm-column(4);
							padding: 0px 0 10px 10px;
							.img-frame {
								border: 1px solid #ccc;
								padding: 4px;
								&.active:hover {
									.img-wrapper > .uploader {
										display: block;
									}
									cursor: pointer;
								}
								.img-wrapper {
									@include image-uploader(158px);
								}
							}
						}
					}
				}
			}
		}
	}	
}
.open-records {
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	form {
		@include form-horizontal(70%);
		.row {
			margin-bottom: 10px;
			> div:first-child {
				@include make-sm-column(5);
			}
			> div:last-child {
				@include make-sm-column(7);
				> div {
					&:first-child {
						@include make-sm-column(8);
						label {
							margin: 10px 0;
						}
						.attachments ol {
							padding-left: 15px;
							li {
								width: 100%;
								padding-top: 4px;
								position: relative;
								a.attachment-item {
									width: 92%;
									text-overflow: ellipsis;
									vertical-align: middle;
									white-space: nowrap;
									display: inline-block;
									overflow: hidden;
								}
								.fa {
									display: inline;
									margin-right: 2px;
									margin-left: 4px;
								}
							}
						}
					}
					&:last-child {
						@include make-sm-column(4);
						> .btn-group-vertical {
							width: 100%;
							margin-bottom: 10px;
						}
						> .img-frame {
								border: 1px solid #ccc;
								padding: 4px;
								&.active:hover {
									.img-wrapper > .uploader {
										display: block;
									}
									cursor: pointer;
								}
								.img-wrapper {
									@include image-uploader(170px);
								}
							}
					}
				}
			}
		}
	}
}
.loan-assets {
	height: 100%;
	max-height: 100%;
	form {
		@include make-sm-column(7);
		@include form-horizontal(70%);
		margin-bottom: 10px;
		.static {
			float: right;
			width: 70%;
			margin-bottom: 8px;
			dt {
				text-align: left;
				width: 135px;
			}
			dd {
				margin-left: 135px;
			}
		}
	}
	.asset-info {
		@include make-sm-column(5);
		@include asset-info();
		> .dl-horizontal:nth-child(-n+9) {
			display: inline-block;
			margin-left: 0px;
			margin-top: 10px;
			margin-bottom: 0;
			width: 55%;
			> dt {
				width: 60px;
				text-align: right;
			}
			> dd {
				margin-left: 80px;
			}
		}
		.img-frame {
			float: left;
			width: 45%;
			padding: 0 4px 20px;
			.img-wrapper {
				@include image-uploader(175px);
			}
		}
	}
}
.asset-disposal {
	height: 100%;
	max-height: 100%;
	form {
		@include make-sm-column(7);
		@include form-horizontal(70%);
		margin-bottom: 10px;
		.static {
			float: right;
			width: 70%;
			margin-bottom: 8px;
			dt {
				text-align: left;
				width: 135px;
			}
			dd {
				margin-left: 135px;
			}
		}
	}
	.asset-info {
		@include make-sm-column(5);
		@include asset-info();
		> .dl-horizontal:nth-child(-n+9) {
			display: inline-block;
			margin-left: 0px;
			margin-top: 10px;
			margin-bottom: 0;
			width: 55%;
			> dt {
				width: 60px;
				text-align: right;
			}
			> dd {
				margin-left: 80px;
			}
		}
		.img-frame {
			float: left;
			width: 45%;
			padding: 0 4px 20px;
			.img-wrapper {
				@include image-uploader(175px);
			}
		}
	}
}
.location-transfer {
	height: 100%;
	max-height: 100%;
	form {
		@include make-sm-column(7);
		@include form-horizontal(70%);
		margin-bottom: 10px;
		.static {
			float: right;
			width: 70%;
			margin-bottom: 8px;
			dt {
				text-align: left;
				width: 135px;
			}
			dd {
				margin-left: 135px;
			}
		}
	}
	.asset-info {
		@include make-sm-column(5);
		@include asset-info();
		> .dl-horizontal:nth-child(-n+9) {
			display: inline-block;
			margin-left: 0px;
			margin-top: 10px;
			margin-bottom: 0;
			width: 55%;
			> dt {
				width: 60px;
				text-align: right;
			}
			> dd {
				margin-left: 80px;
			}
		}
		.img-frame {
			float: left;
			width: 45%;
			padding: 0 4px 20px;
			.img-wrapper {
				@include image-uploader(175px);
			}
		}
	}
}
.asset-replacement {
	height: 100%;
	max-height: 100%;
	form {
		@include make-sm-column(7);
		@include form-horizontal(70%);
		margin-bottom: 10px;
		.static {
			float: right;
			width: 70%;
			margin-bottom: 8px;
			dt {
				text-align: left;
				width: 135px;
			}
			dd {
				margin-left: 135px;
			}
		}
	}
	.asset-info {
		@include make-sm-column(5);
		@include asset-info();
		> .dl-horizontal:nth-child(-n+9) {
			display: inline-block;
			margin-left: 0px;
			margin-top: 10px;
			margin-bottom: 0;
			width: 55%;
			> dt {
				width: 60px;
				text-align: right;
			}
			> dd {
				margin-left: 80px;
			}
		}
		.img-frame {
			float: left;
			width: 45%;
			padding: 0 4px 20px;
			.img-wrapper {
				@include image-uploader(175px);
			}
		}
	}
}
.user-management {
	@include clearfix();
	form {
		height: inherit;
		padding: 0;
		@include clearfix; 
		> div:first-child {
			padding: 20px 10px;
			@include make-sm-column(5);
			.group-checkbox {
				&nth-child(1) {
					display: none;
				}
				input {
				    margin: 0px 5px;
				    vertical-align: bottom;
				    height: 15px;
				    width: 15px;
				}
			}
		}
		> div:last-child {
			overflow: scroll;
			height: inherit;
			@include make-sm-column(7);
			border-left: 1px solid #ccc;
			padding: 0;
			.panel-head {
				padding: 10px;
				font-weight: bold;
				background: #ececec;
				border-bottom: 1px solid #ccc;
			}
			.list-utils {
				padding: 10px 10px 0;
				border-bottom: 1px solid #ccc;
				display: table;
			    width: 100%;
			    > div:first-child {
		    		width: 55%;
		    		float: left;
		    		.multiselect .multiselect-tags {
			    		> .multiselect-tag {
		    				display: none;
		    				background: #fff;
						    margin: 0;
						    color: #000;
						    padding: 2px 17px 2px 4px;
						    .multiselect-tag-icon {
		    					display: none;
		    				}
			    		}
			    	}
		    	}
			    > div:last-child {
		    		width: 45%;
		    		text-align: left;
				    float: right;
				    padding-left: 10px;
		    		.checkbox {
		    			margin: 0;
			    		> label {
					    	padding-right: 10px;
					    	vertical-align: middle;
					    	input {
					    		margin-top: 0;
					    	}
				    	}
			    	}
			    }
			}
			table {
				&.disabled {
					background: #ececec;
					cursor: no-drop;
				}
				thead {
					background: #ececec;
				}
			}			 
		}
	}
}
.dashboard {
	padding: 10px;
	width: 100%;
	@include clearfix();
	.panel-title {
	    padding: 10px;
	    font-weight: bold;
	    color: #000;
	    margin: 0 -10px;
	    border-bottom: 1px solid #ddd;
	}
	.requests {
		width: 60%;
		float: left;
		border: 1px solid #e2e0e0;
	    padding: 0 10px;
		border-top: 2px solid #987dff;
		margin-bottom: 15px;
	}
	.approvals {
		width: 38.5%;
		padding: 0 10px;
		float: right;
	    border: 1px solid #e2e0e0;
		border-top: 2px solid #fba41d;
		margin-bottom: 15px;
	}
	.assets {
		.scopes-option {
			margin-top: -4px;
			@include clearfix();
			label, select {
				display: inline;
				width: auto;
			}
			.form-control {
				height: 25px;
				padding: 3px 6px;
			}
			label {
				font-weight: normal;
				font-size: 12px;
			}
		}
		@include make-sm-column(12);
		border: 1px solid #e2e0e0;
		padding: 0 10px;
    	border-top: 2px solid #0bb771;
    	margin-bottom: 15px;
		#assetChart {
			padding: 10px;
			width: 100% !important;
			height: auto !important;
		}
	}
}
.reports {
	padding: 10px;
	width: 100%;
	@include clearfix();
	.panel-title {
	    padding: 10px;
	    font-weight: bold;
	    color: #000;
	    margin: 0 -10px;
	    border-bottom: 1px solid #ddd;
	}
	.assets {
		.scopes-option {
			margin-top: -4px;
			@include clearfix();
			label, select {
				display: inline;
				width: auto;
			}
			.form-control {
				height: 25px;
				padding: 3px 6px;
			}
			label {
				font-weight: normal;
				font-size: 12px;
			}
		}
		@include make-sm-column(12);
		border: 1px solid #e2e0e0;
		padding: 0 10px;
    	border-top: 2px solid #0bb771;
    	margin-bottom: 15px;
		#assetChart {
			padding: 10px;
			width: 100% !important;
			height: auto !important;
		}
	}
}
.farm-in {
	form {
		.row {
			> div:first-child() {
				@include form-horizontal(70%);
				@include make-sm-column(6);
				.inline-fields { 
					margin-bottom: 10px;
					.inner-field {
						display: inline-block;
						.form-control {
							width: 100%; 
							float: none;
						}
					}
					.btn {
						margin-top: -1px;
					}
				}
			}
			> div:last-child() {
				@include form-horizontal(70%);
				@include make-sm-column(6);
			}
		}
	}
}
.farm-out {
	form {
		.row {
			> div:first-child() {
				@include form-horizontal(70%);
				@include make-sm-column(6);
				.inline-fields { 
					margin-bottom: 10px;
					.inner-field {
						display: inline-block;
						.form-control {
							width: 100%; 
							float: none;
						}
					}
				}
			}
			> div:last-child() {
				@include form-horizontal(70%);
				@include make-sm-column(6);
			}
		}
	}
}
.attachments ol {
	padding-left: 15px;
	li {
		width: 100%;
		padding-top: 4px;
		position: relative;
		a.delete-file {
			cursor: pointer;
			position: absolute;
		    bottom: 0;
		    right: 0;
		    background: #fff;
		    padding-left: 10px;
		}
		a.attachment-item {
			width: 92%;
			text-overflow: ellipsis;
			vertical-align: middle;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
		}
		.fa {
			display: inline;
			margin-right: 2px;
			margin-left: 4px;
		}
	}
}
.print-assets {
	form {
		height: inherit;
		position: relative;
		@include clearfix();
		.row {
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid #cacaca;
			box-shadow: #ccc5c5 0px 1px 2px;
			position: absolute;
			background: #fff;
			top: -63%;
			margin: 15px auto 0;
			z-index: -1;
			transition: all .3s linear;
			width: 97.5%;
			.heading {
				margin: 0 10px 15px;
				padding-bottom: 5px;
			    border-bottom: 1px solid #ccc;
			    h4 {
			    	float: left;
			    	margin: 0;
			    	padding-top: 5px;
				    font-weight: bold;
				}
			}
			.content {
				> div:nth-child(-n+3) {
					@include form-horizontal(75%);
					@include make-sm-column(4);
					label {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis; 
					}
				}
			}
		}
		.print-utils {
			@include form-horizontal(85%);
			@include clearfix();
			width: 100%;
			> div {
				@include make-sm-column(6);
				> .status_msg {
				    display: block;
				    margin-top: 5px;
				    margin-left: 95px;
				    padding: 3px;
				}
				> .multiselect {
					width: 80% !important;
				}
			}
		}
	}
}
.tool-tip {
	position: relative;
	.tip {
		    display: inline-block;
		    position: absolute;
		    top: -3px;
		    left: 102%;
		    text-align: center;
		    margin: 0;
		    width: 260px;
		    border-radius: 0px;
		    background: #be4b49;
		    height: 36px;
		    vertical-align: middle;
	    .text {
	    	vertical-align: middle;
		    padding: 5px 10px;
		    height: 36px;
		    display: table-cell;
	    	&.error {
	    		color: #fff;
		    	background-color: #be4b49;
	    	}
	    	&::after {
			    content: " ";
			    position: absolute;
			    top: 50%;
			    right: 100%;
			    margin-top: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent #be4b49 transparent transparent;
			}
		}
	}
}
.echarts {
	width: 100% !important;
 	margin: 0 auto !important;
}
.warranty_report {
	form {
		@include clearfix();
		> div {
			@include make-sm-column(6);
		}
		> div:first-child() {
			@include make-sm-column(3);
			@include form-horizontal(70%);
			> .form-group input, .multiselect {
			    display: inline-block;
			    vertical-align: middle;
			}
		}
		> div:last-child() {
			@include make-sm-column(3);
			@include form-horizontal(70%);
			> .form-group {
				.radio-input {
					display: inline-block; 
					margin-top: 3px;
					float: right; 
					width: 73%;
					span {
						padding-right: 10px;
						input {
							vertical-align: bottom;
						}
					}
				}
				.help-text {
					font-size: 10px;
					color: #ccc;
				}
			}
		}
	}
}